<!doctype html>
<title>Twitter Login</title>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Number of Tweets'],
          ['Primetime Hours',     {{primetime_tweets}}],
          ['Non-Primetime Hours',    {{nonprimetime_tweets}}]
        ]);

        var options = {
          title: 'Tweeting Time',
          pieHole: 0.2,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
	<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Word', 'Avg Retweets'],
          ['{{highest_scoring_words.0}}',  {{tfidf_scores.0}}],
          ['{{highest_scoring_words.1}}',  {{tfidf_scores.1}}],
          ['{{highest_scoring_words.2}}',  {{tfidf_scores.2}}],
          ['{{highest_scoring_words.3}}',  {{tfidf_scores.3}}],
          ['{{highest_scoring_words.4}}',  {{tfidf_scores.4}}]
        ]);
        var options = {
          title: 'Most Retweeted Words (Avg)',
          vAxis: {title: 'Word'}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
     <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
      	var data = new google.visualization.DataTable();
      	data.addColumn('number', 'Retweets');
      	data.addColumn('number', 'Tweet Length');
        data.addRows({{tweet_length|safe}})

        var options = {
          title: 'Effect of Tweet Length on Retweets',
          hAxis: {title: 'Tweet Length'},
          vAxis: {title: 'Retweets'},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('scatter'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>


<div class="profile-container"> 
	<div class= "profile-section">
		<img class="circular" src="{{picture}}" >
		<span class= "section-header"> {{name}} </span>
		<hr> </hr> 
		<div class= "section-info"> 
			<div class="field1"> <b> Followers: </b> {{followers}} </div> 
		</div> 
	</div> 
	<div class= "profile-section">
		<span class= "section-header"> <b> Most Retweeted Tweets </b></span>
		<hr> </hr> 
		<ul style="list-style-type: none;">
			{% for tweet in most_retweeted %}
				<i><li>{{tweet}}</li></i>
				<br>
			{% endfor %}
		</ul>
	</div>

	<div class= "profile-section">
		<span class= "section-header"> <b> Analytics </b></span>
		<hr> </hr> 
				<div id="piechart_3d"> </div>
				<div id="chart_div"></div>
				<div id="scatter"></div>
	</div> 

</div>

</body>