Django==1.6.2
Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.19
PyYAML==3.11
SQLAlchemy==0.9.3
Tempita==0.5.2
Twisted==13.2.0
Werkzeug==0.9.4
autobahn==0.7.4
datasift-beta==2.0.4
decorator==3.4.0
dj-database-url==0.3.0
dj-static==0.0.5
django-toolbelt==0.0.1
gunicorn==18.0
itsdangerous==0.23
nltk==2.0.4
numpy==1.8.1
oauthlib==0.6.1
pbr==0.7.0
pg8000==1.9.7
psycopg2==2.5.2
pyOpenSSL==0.13.1
pystache==0.5.3
python-dateutil==2.2
python-openid==2.2.5
python-social-auth==0.1.22
rauth==0.7.0
requests==2.2.1
requests-oauthlib==0.4.0
six==1.5.2
sqlalchemy-migrate==0.9
static==1.0.2
tweepy==2.2
twitter==1.14.1
wsgiref==0.1.2
zope.interface==4.1.1
